<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>Register</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <meta name="description" content="TODO">
    <meta name="keywords" content="TODO" />
    <meta name="author" content="Etna d.o.o.">
    <meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate" />
    <meta http-equiv="Pragma" content="no-cache" />
    <meta http-equiv="Expires" content="0" />

    <!-- Define a viewport to mobile devices to use - telling the browser to assume that the page is as wide as the device (width=device-width) and setting the initial page zoom level to be 1 (initial-scale=1.0) -->
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="author" href='@routes.Assets.at("humans.txt")'>
    <link rel="stylesheet" media="screen" href='@routes.WebJarAssets.at(WebJarAssets.locate("bootstrap.min.css"))'>
    <link rel="stylesheet" media="screen" href='@routes.WebJarAssets.at(WebJarAssets.locate("font-awesome.min.css"))'>
    <link rel="stylesheet" media="screen" href='@routes.Assets.at("stylesheets/signin.css")'>

    <!-- Favicon and Apple Icons -->
    <link rel="shortcut icon" type="image/png" href='@routes.Assets.at("images/ico/favicon.png")'>
    <link rel="apple-touch-icon" href='@routes.Assets.at("images/ico/apple-touch-icon.png")'>
    <link rel="apple-touch-icon" sizes="72x72" href='@routes.Assets.at("images/ico/apple-touch-icon-72x72.png")'>
    <link rel="apple-touch-icon" sizes="114x114" href='@routes.Assets.at("images/ico/apple-touch-icon-114x114.png")'>

    <!-- JavaScript -->
    <script type='text/javascript' src='@routes.WebJarAssets.at(WebJarAssets.locate("jquery.min.js"))'></script>
</head>
<body>
    <div class="container">
        <!-- forma za registriranje novog korisnika -->
        <form class="form-signin" role="form" name="formRegister" id="formRegister" method="POST" action="/register">
            <div class="panel">
                <h2 class="text-center">@message("register.title")</h2>
                <div class="form-group">
                    <div class="input-group">
                        <div class="input-group-addon"><i class="fa fa-envelope"></i></div>
                        <input type="email" class="form-control input-sm1" id="email" placeholder='@message("register.email")' maxlength="100" data-ng-model="email" required>
                    </div>
                </div>
            </div>
            <div class="panel-footer">
                <button class="btn btn-lg btn-block" type="submit"><span class="fa fa-user"></span> @message("register.create")</button>
            </div>
        </form>
    </div>

    <div id="footer">
        <div class="container">
            <p class="text-muted pull-right">Application = @application, environment = @{utils.ApplicationConfig.environmentAsLongString}</p>
            <p class="text-muted">@copyright</p>
        </div>
    </div>

    <!-- JavaScript -->
    <script type='text/javascript' src='@routes.WebJarAssets.at(WebJarAssets.locate("bootstrap.min.js"))'></script>
    <script type='text/javascript' src='@routes.Assets.at("javascripts/jquery.bootstrap-growl.min.js")'></script>
    <script type='text/javascript' src='@routes.Assets.at("javascripts/main.js")'></script>
    <script type='text/javascript' src='@routes.Assets.at("javascripts/register.js")'></script>
</body>
</html>